* {
    margin: 0px; /*centra todo*/
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #CEE5D0;
}


/*----------------------HEADER----------------------*/

/*logo - busqueda - iconos*/
div.top-header
{
    background-color: #FF7070;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.logo
{
    display: flex;
    width: 15%;
}
.imagen-logo
{
    width: 40%;
    
}

.imagen-logo, .form-busqueda, .cart, .login, .darkmode
{
    align-self: center;
    
}


/*barra de navegacion*/
/*---------barra de navegacion--------*/

div.button-header
{
    background-color: #FED2AA;
}

div.button-header nav ul
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}
.button-header ul li{
    list-style-type: none;
}

.button-header ul li a{
    text-decoration: none;
    color: #FF7070;
}

.iconosHeader {
    display: flex;
    align-items: center;
    width: 22%;
    justify-content: space-around;
    
}

.iconH i {
    color: #000;
    font-size: 20px;
}

div.burger-menu{
    display: none;
}


/*--------main Detalle del Producto-------*/
.main{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color:rgb(139, 230, 176);
    display: inline-block
}

.modal-content {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
    padding: 20px;
    background-color:#CEE5D0;
    margin: 20px;
    display: block;
}

.Lapicera {
    width: 100%;
    flex-direction: row;
}

.h3 {
width: 60%;
text-align: center;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
font-size: large;
float: right;
padding: 15px;
background-color:rgb(244, 247, 213);
flex-direction: row;
}

.h4 {
    width: 30%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: medium;
    float:right;
    padding: 33px;
    flex-direction: row;
}

.h5 {
    width: 50%;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size:small;
    float: right;
    padding: 40px;
    flex-direction: row;
}




.Carrito{
    width: 15%;
    display: inline-block;
    align-self: fit-content;
    display: block;
}

.title{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.ui.button.añadir-al-carrito {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    display: block;
    flex-direction: row;
}


.fas fa-plus {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: auto 0;
    padding: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    color: green;
    border: none;
    font-size: 25px;
    display: inline-block;
    flex-direction: row;
}

.fas fa-minus {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: auto 0;
    padding: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    color: red;
    border: none;
    font-size: 25px;
    display:inline-block;
    flex-direction: row;
}

.postalcode {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: auto 0;
    padding: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
    font-size: 25px;
    display:inline-block;
    flex-direction: column;
}

.enemy {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: auto 0;
    padding: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
    font-size: 25px;
    display:inline-block;
}





/*-------------------carrusel-------------*/
.carrusel-caja{
    display: none;
}



/*-----------FOOTER */

.mediospago {
    /* display: flex; */
    width: 33%;
    font-size: 30px;
}
.imagen-foot {
    width: 22%;
}

.footer-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    margin-top: 40px;
    background-color: #FF7070;
}

.imglogos {
    width: 100%;
}

.mediospago h4
{
    margin: 0;
}

.seguinos {
    font-size: 30px;
    
    width: 33%;
}

.suscribe {
    font-size: 30px;
    width: 33%;
}

#face
{
color: blue;
}

#twitter
{
color:rgb(72, 182, 255);
}
#insta
{
color: rgb(216, 82, 240);
}

.enemy {
    padding: 6px;
}




/*--------adaptaciones------------*/

@media(min-width: 361px) {

    .form-busqueda button{
        width: 8%;
    }

    .iconosHeader {
        display: flex;
    }

    div.button-header{
        display: block;
    } 

    .main{
        margin: 3px auto;
    }

    .modal-content{
        flex-wrap: wrap;
    }

    .Lapicera{
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .lapicera{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .h3 article{
        width: 45%;
    }

    .h4 article{
        width: 45%;
    }

    .h5 article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:47%;
    }

    .Carrito article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:47%;
    }

    .title article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:47%;
    }

    .ui.button.añadir-al-carrito:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:47%;
    }

    .postalcode{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:47%;
    }

    .enemy{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:47%;
    }



    .footer-contenedor {
        
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 0px; 
        flex-direction: row;
        width: 100%;
    }

    .seguinos , .mediospago , .suscribe{
        
        width: 33%;
    }

    input.enemy{
        font-size: 16px;
    }

    #iconCuenta
    {
        position: relative;
        cursor: pointer;
    }

    .carrusel-caja {
    display: flex;
    width: 100%;
}



@media(min-width: 769px) {

    .form-busqueda button{
        width: 5%;
    }

    .iconosHeader {
        width: 25%;
        padding: 10px;
        display: block;
        margin: 5px;
    }

    div.button-header{
        display: block;
    } 

    .main{
        margin: 3px auto;
    }

    .modal-content{
        margin: 5px;
        width: 22%;
    }

    .Lapicera{
        flex-wrap: wrap;
        flex-direction: row;
        margin: 25px;
        width: 5%;
    }
    
    .lapicera{
        flex-wrap: wrap;
        flex-direction: row;
        margin: 25px;
        width: 5%;
    }
    }

    .h3 article{
        width: 25%;
    }

    .h4 article{
        width: 25%;
    }

    .h5 article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:27%;
    }

    .Carrito article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:27%;
    }

    .title article:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:27%;
    }

    .ui.button.añadir-al-carrito:hover{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:27%;
    }

    .postalcode{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:27%;
    }

    .enemy{
        box-shadow: -4px 4px 2px #B0B8FF;
        width:27%;
    }



    .footer-contenedor {
        
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px 0px; 
        flex-direction: row;
        width: 100%;
    }

    .seguinos , .mediospago , .suscribe{
        
        width: 33%;
    }

    input.enemy{
        font-size: 16px;
    }

    #iconCuenta
    {
        position: relative;
        cursor: pointer;
    }
